html {
  height: 100%;
  box-sizing: border-box;
  min-width: 600px;
}


body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  background-color: #FBF8EF;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

#formBouton{
    margin-bottom: 25px;
}

#content{
    margin-bottom: 25px;
}

.systeme_onglets{
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
}

.onglets{
    vertical-align: middle;
    margin-left : -5px;
    margin-right: -5px;
}

.onglet{
    text-align: center;
    display: inline-block;
    padding:5px;
    border:1px solid black;
    cursor:pointer;
    background-color: #F3E2A9;
}

.onglet:hover{
    background-color: #FE9A2E;
}

#onglet_etudes{
    width: 27%;
    border-radius: 10px 0 0 10px;

}

#onglet_vieActive{
   width: 44%;
}

#onglet_retraite{
    width: 27%;
    border-radius: 0 10px 10px 0;
}

#onglet_vie{
    width: 99%;
    border-radius: 10px 10px 10px 10px;
}

.contenu_onglet{
    background-color: #F3E2A9;
    border:1px solid black;
    padding:3px;
    min-height: 50%;
    border-radius: 10px 10px 10px 10px;
    margin-bottom: 10px;
}

#activite_vieActive{
    margin-bottom: 20px;
}

 #activite_etudes{
    margin-bottom: 20px;
}

#activite_retraite{
    margin-bottom: 20px;
}


.header_onglet{
    display: inline;
}

.retour{
    margin-left: 5px;
    float:left;
    cursor:pointer;
    width: 30px;
}

#ligne.selected {
    color:#fff;background:#444 !important;
}

#ligne:hover {
    cursor:pointer;
    background:#eee;
}

thead #ligne:hover {
    cursor:auto;
    background:none;
}

#ligne{
    text-align: left;
}

#tpsGagneTotal{
    text-align: center;
    margin : 5px;
    text-decoration: bold;
}

#statistiques{
    background-color:#F3E2A9;
    border-bottom: black solid 2px;
}

#pannel-stat{
    width: 98%;
    margin:auto;
}

.panel-heading{
    text-align:center;
    font-weight: bold;
    border: solid black 2px;
}

.panel-heading:hover{
    cursor: pointer;
}

.panel-collapse{
    margin:20px;
    border:solid black 1px;
}

.panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: grey;         /* adjust as needed */
}
.panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}


#tabListeOpti{
    text-align: center;
    width: 95%;
    margin: auto;
}

#tabListeActivite{
     text-align: center;
}

#tabListeActivite th{
     text-align: center;
}

#listeOpti{
    border-bottom: solid black 1px;
}

#statOptiLib{
    width: 70%;
}

#statOptiTps{
    width: 30%;
}

#statOptiTh1{
    width: 20%;
}

#statOptiTh{
    width: 40%;
}

