html {
  height: 100%;
  box-sizing: border-box;
  min-width: 600px;
}


body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}


.systeme_onglets{
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
}

.onglets{
    vertical-align: middle;
}

.onglet{
    text-align: center;
    display: inline-block;
    padding:5px;
    border:1px solid black;
    cursor:pointer;
    background-color: #F3E2A9;
}

.onglet:hover{
    background-color: #FE9A2E;
}

#onglet_etudes{
    width: 27%;
    border-radius: 20px 0 0 20px;

}

#onglet_vieActive{
   width: 43.3%;
}

#onglet_retraite{
    width: 27%;
    border-radius: 0 20px 20px 0;
}

.contenu_onglet{
    background-color: #F3E2A9;
    border:1px solid black;
    padding:3px;
    min-height: 50%;
    border-radius: 20px 20px 20px 20px;
}

.header_onglet{
    display: inline;
}

.retour{
    margin-left: 5px;
    float:left;
    cursor:pointer;
    width: 30px;
}

#ligne.selected {
    color:#fff;background:#444 !important;
}

#ligne:hover {
    cursor:pointer;
    background:#eee;
}

thead #ligne:hover {
    cursor:auto;
    background:none;
}

#ligne{
    text-align: left;
}

#tpsGagneTotal{
    text-align: center;
    margin : 5px;
    text-decoration: bold;
}

#statistiques{
    background-color:#F3E2A9;
    border-bottom: black solid 2px;
}

